{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'home/okso.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    </head>

    <body class='okso'>
        <h1>Gadgets</h1>

        <ul class='okso-list'>
        {% for gadget in gadgets %}
            <li>
                <div class='okso-list-meta'>
                    <form action="{% url 'home:do' gadget.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="on" name="action" />
                        <input type="submit" value="off" name="action" />
                    </form>
                </div>
                <div class='okso-list-text'>
                    <a href='{% url 'home:details' gadget.id %}'>{{ gadget.name }}</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    <body>
</html>