/*
    Common CSS for OKso.
*/

body.okso {
    background-color: #101510;
    color: #F50;
    color: #4F2;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.okso a {
    color: #F50;
}

.okso h1 {
    color: #F50;
    text-align: center;
}

/*div {
    border: solid 1px red;
}*/

.okso-list li {
    height: 3em;
    list-style: none;
}

.okso-list-meta {
    display : inline-block;
}

div.okso-list-meta {
    float: right;
}