* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: #000;
    color: #9F0;
}

form {
    margin: 0.3em;
}

form h3 {
    margin: 0;
    height: 30px;
    width: 100px;
    float: left;
}

form input {
    height: 30px;
    width: 90px;
    border: none;
}

form input[value=on] {
    background-color: #060;
    color: #0F0;
}
form input[value=off] {
    background-color: #600;
    color: #F00;
}